/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Hanken Grotesk", sans-serif;
}

.background-container {
    display: flex;
    width: 100%;
    height: 100vh; 
    position: relative;
}

.background {
    width: 50%; 
    height: 100%;
    background-size: cover;
    background-position: center;
}


.background.left {
    background-image: url(./assets/images/cesar-bretana-gonzalez-a3dhUC7EhYg-unsplash.jpg);
}

.background.right {
    background-image: url(./assets/images/pexels-edwardeyer-1247755.jpg);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(170, 71, 33, .75), rgba(165, 107, 82, .2));
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.overlay h1 {
    font-size: 5em;
    background-color: rgba(165, 107, 82, 0.8);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 1.5px 1.5px 2px black;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 30px;
    color: #fff;
    vertical-align: text-top;
    position:absolute;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
    word-spacing: 100px;
}

.buttons ul {
    font-size: 1.7em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1.5px black;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.buttons ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #fff; 
}
   
.aboutus {
    word-spacing: normal;
}

.content{
    width: 70%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-color { 
    height: 100vh;
    background-color: #221f1fad;
}

.overlayA {
    background: linear-gradient(rgba(170, 71, 33, .75), rgba(165, 107, 82, .2));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    
}

.overlayA h2 {
    font-size: 45px;
    padding: 5px 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 1px; 
    text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);
}

.overlaypara p {
    font-size: .9em;
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 20px auto;
    line-height: 1.6;
    max-width: 600px;
    border: 2px solid rgba(255, 255, 255, 0.295);
    border-radius: 8px;
}

.image-below {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(58, 29, 6, 0.3);
}

.buttons-a {
    position: fixed;
    margin-top: 25px;
    top: 0;
    margin-left: 30px;
    border-right: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    border-left-style: dotted;
    border-right-style: dotted;
    text-shadow: 1px 1px 1.5px black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
}

nav ul li a:hover {
    color: #f2a900; 
}

/* Hero section styling */
#hero {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

#hero img {
    margin: 0 10px;
    height: 125px; 
}

/* Main content styling */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #111010; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#about img {
    height:200px; 
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 20px;
}


.menu-heading {
    text-align: center;
    width: 800px;
    margin-top: 50px;
    font-size: xx-large;
}

h3 {
    color: #f2a900; 
    margin-top: 10px;
}

.describe p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 105%;
}

.describe h4 {
    margin-bottom: 10px;
    color:beige;
}

.note {
    margin-bottom: 30px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #d35f24; 
    color: #fff; 
    position: relative;
    bottom: 0;
    width: 100%;
}






